<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="DevHub_ForceCustomerLogin::devhub_force_customer_login" title="Force Login" sortOrder="40">
                    <resource id="DevHub_ForceCustomerLogin::devhub_force_customer_login_manage" title="Manage Whitelist" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
