<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="admin">
        <route id="ForceCustomerLogin" frontName="ForceCustomerLogin">
            <module name="DevHub_ForceCustomerLogin" />
        </route>
    </router>

</config>
